name: daily review

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

env:
  TZ: Asia/Shanghai

jobs:
  sync:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: install python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip" # caching pip dependencies
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Daily Review
        run: |
          python daily_review.py chensoul ${{ secrets.GITHUB_TOKEN }}  --wakatime_token ${{ secrets.WAKATIME_TOKEN }} --tele_token ${{ secrets.TG_TOKEN }} --tele_chat_id ${{ secrets.TG_CHAT_ID }}

      - name: Commit and push if changed
        run: |-
          git pull
          git diff
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add -A
          git commit -m "push get up info" || exit 0
          git push